# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables / secrets
*.tfvars
*.tfvars.json
.env

# Python
__pycache__/
*.pyc

# OS junk
.DS_Store
.terraform/